
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;;
    height: 0;
    
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    
  
}





   

/*- hiding the navbar--*/

.forMobile > ul{
    display: none;
    
 }

.toggle {
    display: none;
}

/*---ends here*/

/* h1 {
    font-size: 25px;
    color: black;
    background: white;
    padding: 2px 10px 2px 10px ;
    color: rgb(219, 118, 180);
    display: inline-block;
    border-bottom-left-radius: 14px;
    font-family: 'Iceland', cursive;
    font-size: 30px;
    
    
}


.container {
     

  
}

ul li {
    font-weight: bold;
    
    list-style: none;
    text-decoration: none;
    margin: 30px;
    font-family: 'Iceland', cursive;
    color: rgb(219, 118, 180);
    background: white;
    padding: 5px;
    border-bottom-left-radius: 10px;
    font-size: 22px;

}

a {
    text-decoration: none ;

}

li:hover {
    background: pink;
    color: white;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
} */


/* nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background: palevioletred;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 40px;
    width: 1213px;
 
background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
} */

/* nav ul{
    display: flex;
    margin-right: 40px;
    
} */





hr {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 0 auto;
  position: relative;
  bottom: 100px;
  padding: 1px;
  border : 0px;
  background: palevioletred;
  border-radius: 0;
}

/*--Styling Books-*/

.image {
    width: 150px;
    height: 100px;
    border-bottom-left-radius: 30px;
    transition: width 1s, height 1s, transform 1s;
}

.image:hover {
    width: 160px;
    

}
.title {
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
}

.content {
    display: inline-block;
    font-size: 16px;
    text-align: center;
}


.ebooks {
    background: rgb(250, 245, 247);
    width: 300px;
    height: 280px;
    margin-bottom: 30px;
    text-align: center;
    margin-right: 30px;
    color: rgb(204, 15, 78);
    font-family: 'Iceland', cursive;
    background-size: cover;
    background-repeat:no-repeat ;
    border-bottom-left-radius: 40px;
    border: 1px solid palevioletred;
    background-color: #ffffff;
    
background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
}


.books{
    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: left;
    margin: 4rem auto;
    width: 1000px;
    margin-left: 130px;
    padding: 20px;
    
       
    
}

/*- styling slide--*/
.slidee {
    display: none;
}

.slide img {
    width: 100%;
    height: 680px;
    float: right;
    position: relative;
    bottom: 60px;
    border-top-left-radius: 100px;
    
   
  
    
    
}


.slide1   {
    
    height: 230px;
    width: 380px;
  
    position: relative;
    font-weight: bold;
    color: rgb(216, 78, 170);
    left: 100px;
    bottom: 650px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    font-family: 'Iceland', cursive;
   contain: layout;

    
}
.slide1 > h1  {
    background: none;
    text-align: center;
    margin-top: 30px;
    margin-left: 10px;
    color: rgb(177, 30, 128);
    font-size: 33px;
    position: relative;
    

}

.slide1 > p {
   text-align: center;
   font-size: 23px;
   margin-bottom: 5px;
}

.slide button {
    text-align: center;
    height: 50px;
    width: 150px;
    background: white;
    text-align: center;
    padding-top:1px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    position: absolute;
    margin-top: 20px;
    outline: none;
    color: rgb(177, 30, 128);
    font-size: 25px;
    font-weight: bold;
    font-style: oblique;
    border: 2px solid rgb(235, 160, 185);
    font-family: 'Lato', sans-serif;
   
background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
    
    

}

/*--Testimonial Design----*/

.testimony1 img{
      width: 150px;
      height: 150px;
      border-radius: 100px;
      transition: width 1s, height 1s, transform 1s;
     

}
.testimony1 img:hover {
  
   
   transform: rotate(10deg);
}
.testimony1{
    width: 300px;
    display: inline-block;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
    font-family: 'Iceland', cursive;
    
    
}


.testimony{
    display: flex;
    align-content: space-between;
    position: relative;
    left: 135px;
    margin-bottom: 30px;
    width: 1000px;
    bottom: 80px;
    
    
}

.testimonyheader{
    width: 975px;
    height: 200px;
    background: palevioletred;
    color: whitesmoke;
    position: relative;
    left: 160px;
    border-radius: 10px;
    

}
.testimonyheader h1{
    margin-left: 350px;
    background: none;
    font-weight: bold;
    color: whitesmoke;
    margin-top: 50px;
    font-family: 'Iceland', cursive;
    font-size: 35px;
}


/*--About Us Design----*/


.about-us{
   height: 400px;
   width: 700px;
   border: 5px dashed #DB7093;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 5px;
   border-left-width: 5px;
   border-radius: 0px 0px 0px 40px;
   position: relative;
   left: 330px;
   top: 50px;
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
   
}


.about-us p {
    line-height: 2;
    font-weight: bold;
    text-align: justify;
    width: 650px;
    margin-left: 23px;
    font-family: 'Iceland', cursive;
    font-size: 17.5px;

}

/* .about footer {
    margin-top: 137px;
    margin-left: 0px;
    width: 1213px;
} */

/*--Contact Us Design----*/



.form  {
   width: 500px;

   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   position: relative;
   left: 730px;
   bottom: 380px;
   
 
}

.form ::placeholder {
    
    color: rgb(190, 183, 183);
    font-style: oblique;
    font-family: 'Iceland', cursive;
    font-size: 20px;
    
   
   
   
  
}



.form input, textarea {
    width: 230px;
    display: block;
    margin: 0 auto 20px auto;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: 1px 1px 4px 1px rgba(66, 62, 62, 0.58); 
    box-shadow: 1px 1px 4px 1px rgba(63, 58, 58, 0.58);
    outline: none;
    resize: none;



   
    
    
}
.contact img {
    width:500px;
    height: 400px ;
    display: inline-block;
    
  
}

.contact h1 {
    float: right;
    margin-bottom: 50px;
    position: relative;
    left: 197px;
    top: 10px;
    font-weight: bold;
    border: 2px solid palevioletred;
    color: rgb(219, 118, 180);
    
}
.contact{
    width: 450px;
    height: 500px;
    margin-left: 150px;
  
    
    
}

.form input{
    text-align: left;
    padding: 10px 60px ;
    border: 2px solid palevioletred;
    background:  whitesmoke;
    outline-color: rgb(130, 0, 91);
    color: grey;
    padding: 10px 101px 10px 20px ;
    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
   
   
}

.form textarea{
    padding: 10px 101px 60px 20px ;
    border: 2px solid palevioletred;
    background:  whitesmoke;
    outline-color: rgb(130, 0, 91);
    border-bottom-left-radius: 20px;
    text-align: left;
    outline: none;
    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
    overflow-wrap: break-word;
    column-count: initial !important;

    font: 400 13.3333px Arial;
    
    
}


.form button {
    text-align: center;
    height: 40px;
    width: 150px;
    background: white;
    text-align: center;
    padding-top:1px;
    font-family: 'Iceland', cursive;
    border-bottom-left-radius: 20px;
    position: absolute;
    margin-top: 0;
    outline: none;
    font-size: 22px;
   color: palevioletred;
    font-weight: bolder;
    border: 2px solid palevioletred;
    left: 73px;
    outline-color: rgb(130, 0, 91);
    appearance: none;
    -webkit-box-shadow: 1px 1px 4px 1px rgba(66, 62, 62, 0.58); 
    box-shadow: 1px 1px 4px 1px rgba(63, 58, 58, 0.58);
    
}

.form button:hover {
    color: rgb(243, 240, 240);
    background: palevioletred;
}


.contactpage  {
    width: 1213px;
    height: 700px;

}

/* .contactpage footer {
    
    width: 1226px;
   
} */

/*--Footer Design----*/

/* 
footer {
    
    text-align: center;
    height: 60px;
    background: palevioletred;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
    border-top-left-radius: 40px;
    border-top-right-radius: 30px;
    width: 1215px;
    display: inline-block;
    font-family: 'Iceland', cursive;
    font-size: 20px;
    width: 1213px;
background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
}

footer p {
    margin-top: 20px;
    display: inline-block;
    color: grey;
} */


/* ---mobile styling -- */


 @media (max-width: 700px){
   .slidee{
       display: inline-block;
       
    
   }
    .slide img {
        width: 10%;
        height: 680px;
        float: right;
        position: relative;
        bottom: 60px;
        border-top-left-radius: 100px;
        visibility: hidden;
       display: none
      
        
        
    }
    
    
    .slide2  {
        
        
      position: relative;
        font-weight: bold;
        color: rgb(216, 78, 170);
        left: -6px;
        bottom: 220px;
        margin: 0 auto;
        font-family: 'Iceland', cursive;
       display: block !important;
      margin-bottom: 100px;
        
    }
    .slide2 > h1  {
        background: none;
        text-align: center;
        margin-top: 30px;
        margin-left: 10px;
        color: rgb(177, 30, 128);
        font-size: 33px;
        position: relative;
        
    
    }
    
    .slide2 > p {
       text-align: center;
       font-size: 23px;
       margin-bottom: 5px;
    }
    
    .slidee button {
        text-align: center;
        height: 50px;
        width: 150px;
        background: white;
        text-align: center;
        padding-top:1px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        position: absolute;
        margin-top: 50px;
        outline: none;
        color: rgb(177, 30, 128);
        font-size: 21px;
        font-weight: bold;
        font-style: oblique;
        border: 2px solid rgb(235, 160, 185);
        font-family: 'Lato', sans-serif;
       margin-left: 10px;
    background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
        
        
    
    }
    

    /*- hiding the navbar--*/
  /* .forDesktop{
      visibility: hidden;
  }
    .forMobile > ul{
       display: none;
    }
    nav ul  {
  
    height: 240px;
    background: blue;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px ;
   
    width: 210px;
    position: relative;
    top: 100px;
    left: 200px;
    z-index:1; 
    display: inline-block;
   }

    .toggle{
        width: 50px; 
        height: 50px;
        position:relative;
        left: 80px;
        z-index: 2;
        display: inline-block;
        top: 40px;
    } */
}  